body {
    background-color: linen;
}

table.table1{
  border:1px solid black;
}
table.table2{
  border:3px solid black;
}
p.italic {
    font-style: italic;
}
h1{
  font-size: 50px;
}
p.big{
  line-height: 150%;
}
p{
  text-align: enter;
}
