body {
    /*background-color: linen;*/
    background-image: url("Eiffel.jpg");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body.body2 {
    /*background-color: linen;*/
    background-image: url("City.jpg");
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/*#wrapper {
    width: 500px;
    margin: 0 auto;
}*/
div{
  height:500px;
  width: 500px;
  border: 5px solid #000000
  /*margin: 100px;*/
  /*width: 500px;*/
  margin: 0 auto;
  border-radius: 4px;
  /*align-items: left;*/
}

table{
  border:0px;
  text-align: left;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
table.table1{
  border: 1px solid black;
  /*border-collapse: collapse;*/
  text-align: left;
}
table.table2, tr.tr2, td.td2{
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
}
th.th2{
  text-align: center;
  /*border-collapse: collapse;*/
  background-color: #778899;
  /*border: 1px solid black;*/
  color: whitesmoke;
}
tr.tr2:nth-child(odd){background-color: #f2f2f2}
.buttonEditer {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonSupprimer{
    background-color: #B22222;
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 6px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonNew{
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/*td{
  text-align: center;
}*/
/*table.table2{
  border:3px solid black;
  border-collapse: collapse;
}*/
error{
  font-family: 'alex_brushregular', Courier, "Lucida Console", monospace;
  color: Red;
  font-size: 80%;
}
